{% extends 'base.html' %}

{% block title_head %}
<title>Ballenas</title>
{% endblock title_head %}

{% block h1_header %} 
Listado de Ballenas
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="navbar-brand" href= {% url 'crear_ballena' %}>Crear ballena </a>
</button>
{% if ballenas %}
{% for ballena in ballenas  %}
<li>
    {{ ballena.tipo }} - {{ ballena.habitat }} - {{ ballena.tomaño}} - {{ ballena.status }}
    {% if ballena.avatar %}
    <img src="{{ ballena.avatar.url }}" alt="{{ ballena.tipo }}" height="40px">
    {% else %}
    No avatar
    {% endif %}
    <button>
        <a class="navbar-brand" href="{% url 'mostrar_ballena' ballena.id %}">Ver mas</a>
    </button>
    <button>
        <a class="navbar-brand" href="{% url 'modificar_ballena' ballena.id %}">Modificar</a>
    </button>
    <button>
        <a class="navbar-brand" href="{% url 'eliminar_ballena' ballena.id %}">Eliminar</a>
    </button>
</li>


{% endfor %}
{% endif %}
{% endblock contenido %}
    