{% extends 'base.html' %}

{% block title_head %}
<title>Ballenas</title>
{% endblock title_head %}

{% block h1_header %} 
Listado de Ballenas
{% endblock h1_header %}

{% block contenido %}
<button>
    <a class="navbar-brand" href= {% url 'crear_ballena' %}>Crear ballena </a>
</button>
{% comment "" %}<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>{% endcomment %}

{% for ballena in ballenas %}
<li>{{ballena}}
    <button>
        <a class="navbar-brand" href= {% url 'mostrar_ballena' ballena.id %}>Ver mas</a>
    </button>
    <button>
        <a class="navbar-brand" href= {% url 'modificar_ballena' ballena.id %}>Modificar</a>
    </button>
    <button>
        <a class="navbar-brand" href= {% url 'eliminar_ballena' ballena.id %}>Eliminar</a>
    </button>
</li>
{% endfor %}
{% endblock contenido %}
    