{% extends 'base.html' %}

{% block title_head %}
<title>Crear Ballena</title>
{% endblock title_head %}

{% block h1_header %}
Crear Ballena
{% endblock h1_header %}

{% block contenido %}
{% comment "" %}{% if ballena  %}
<h2>Se creo la ballena de tipo {{ballena.tipo}}, habitat {{ballena.habitat}} , tomaño {{ballena.tomaño}} metros y status de peligro {{ballena.status}} </h2>
{% endif %}{% endcomment %}
<form action="" method="POST">
    {% csrf_token %}
   {% comment "" %}<p>
        Tipo:
        <input type="text" name="tipo">
    </p>
    <p>
        Habitat:
        <input type="text" name="habitat">
    </p>
    <p>
        Tamaño:
        <input type="number" name="tomaño">
    </p>
    <p>
        Status:
        <input type="text" name="status">
    </p> {% endcomment %} 
    {{formulario}}

    <button>Crear</button>
</form>
{% endblock contenido %}
   
